.about-container {
  max-width: 900px;
  margin: 120px auto;
  padding: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.about-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-container p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
