.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bfb7b7;
  padding-top: 4rem;
}

.signup-card {
  background: white;
  padding: 0.5rem 3rem;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 0.5rem;
  color: #20232a;
}

.signup-subtext {
  margin-bottom: 2rem;
  color: #20232a;
  font-size: 0.9rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-form input {
  padding: 0.8rem;
  border-radius: 8px;
  color: black;
  border: 1px solid #9b9a9a;
  background-color: #b5b5b5;
  font-size: 1rem;
  outline: none;
}

.signup-form input:focus {
  border-color: #61dafb;
}

.signup-form button {
  background-color: #61dafb;
  color: #20232a;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.signup-form button:hover {
  background-color: #4fcbe4;
}

.signup-footer {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #514e4e;
}

.signup-footer a {
  color: #61dafb;
  text-decoration: none;
}

.signup-footer a:hover {
  text-decoration: underline;
}

.role-toggle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.role-btn {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #9b9a9a;
  background-color: #b5b5b5 !important;
  color: #20232a !important;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}
.role-btn:hover {
  background-color: #a1a1a1 !important;
}
.role-btn.active {
  background-color: #61dafb !important;
  border-color: #61dafb;
  color: #20232a;
  font-weight: 600;
}


