
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0dddd;
  color: rgb(0, 0, 0);
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-sizing: border-box;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.navbar-title {
  font-size: 1.4rem;
  font-weight: 600;
  background: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  gap: 1.5rem;
}

.search-input {
  width: 20%;
  max-width: 400px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #5b5959;
  background-color: #d6d0d0;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}

.search-input:focus {
  border-color: #5ac9e7;
  background-color: #b3bbbb;
}


.nav-btn {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-btn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.login-btn:hover {
  background-color: white;
  color: #282c35;
}

.signup-btn {
  background-color: #5dc7e5;
  color: #272b35;
}

.signup-btn:hover {
  background-color: #48bfd6;
}

.inter-btn {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.inter-btn:hover,
.inter-btn:focus {
  background: none;
  border: none;
  color: rgb(154, 152, 152);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #30343c;
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  flex-direction: column;
}

.dropdown-menu a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  background-color: #3c414c;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #5e66f2aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #5fcfeeaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #7d7b7b;
}
